body {background-color: #F6E6CF;margin:  25px;}
h1 {text-align: center;font-family:"Times New Roman";color:#231709; margin: 0; padding: 10px; }
h2 {text-align: center;font-style: italic;}
ul{text-transform: capitalize}
p {font-style:  italic;margin-top: 100px; text-align: left;}
ol{font-weight: bold;}
body {background-color:  #65350F; background-image:  linear-gradient(to bottom, #9A7B4F, #65350F);
	  background-repeat:  no-repeat;}

#Brownies {float: right; height:50px }
#wrapper {width: 80%;}
header {background-color: #808080}
#ingredients {float: left;width: 500px;}
#instructions{ margin-left: 10px; padding: 10px;}
a:link {color: #000000}