body {background-color: #F6E6CF;margin:  25px;}
h1 {text-align: center;font-family:"Lucida Handwriting";color:#6C4204 }
h2 {text-align: center;font-style: italic;}
ul{text-transform: capitalize}
p {font-style:  italic;}
ol{font-weight: bold;}
